In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import sklearn as skl
import tensorflow as tf
import pickle

In [51]:
df = pd.read_csv('NBA_Playoffs.csv')
df = df.iloc[:,3:15].iloc[1:,:]
df

,Home,ML,Percent Bet ML,Spread,Percent Bet Spread,Odds of Spread,O/U,Percent Bet O/U,Odds of O/U,ML WL,Spread WL,O/U WL
1,0.0,-240.0,83.0,-5.5,66.0,-110.0,208.0,56.0,-110.0,1.0,1.0,0.0
2,1.0,194.0,17.0,5.5,34.0,-110.0,208.0,44.0,-110.0,0.0,0.0,1.0
3,0.0,220.0,9.0,6.5,33.0,-110.0,237.5,75.0,-110.0,1.0,1.0,1.0
4,1.0,-270.0,91.0,-6.5,67.0,-110.0,237.5,25.0,-110.0,0.0,0.0,0.0
5,0.0,166.0,15.0,5.0,48.0,-110.0,215.5,48.0,-110.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
114,1.0,132.0,14.0,3.0,27.0,-110.0,214.5,63.0,-110.0,1.0,1.0,1.0
115,0.0,420.0,21.0,9.5,39.0,-110.0,222.5,46.0,-110.0,0.0,1.0,0.0
116,1.0,-560.0,79.0,-9.5,61.0,-110.0,222.5,54.0,-110.0,1.0,0.0,1.0
117,0.0,106.0,62.0,1.5,56.0,-110.0,213.5,47.0,-110.0,1.0,1.0,1.0
118,1.0,-124.0,38.0,-1.5,44.0,-110.0,213.5,53.0,-110.0,0.0,0.0,0.0

In [52]:
num_rows = df.index.stop

In [53]:
home = []
away = []

for i in np.arange(num_rows-1):
    val = df.iloc[i,0]
    
    if val == 1.0:
        home.append(1)
        away.append(0)
    
    else:
        home.append(0)
        away.append(1)

In [54]:
df['home'] = home
df['away'] = away
df = df.drop(columns=['Home'])
df

,ML,Percent Bet ML,Spread,Percent Bet Spread,Odds of Spread,O/U,Percent Bet O/U,Odds of O/U,ML WL,Spread WL,O/U WL,home,away
1,-240.0,83.0,-5.5,66.0,-110.0,208.0,56.0,-110.0,1.0,1.0,0.0,0,1
2,194.0,17.0,5.5,34.0,-110.0,208.0,44.0,-110.0,0.0,0.0,1.0,1,0
3,220.0,9.0,6.5,33.0,-110.0,237.5,75.0,-110.0,1.0,1.0,1.0,0,1
4,-270.0,91.0,-6.5,67.0,-110.0,237.5,25.0,-110.0,0.0,0.0,0.0,1,0
5,166.0,15.0,5.0,48.0,-110.0,215.5,48.0,-110.0,0.0,0.0,1.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,132.0,14.0,3.0,27.0,-110.0,214.5,63.0,-110.0,1.0,1.0,1.0,1,0
115,420.0,21.0,9.5,39.0,-110.0,222.5,46.0,-110.0,0.0,1.0,0.0,0,1
116,-560.0,79.0,-9.5,61.0,-110.0,222.5,54.0,-110.0,1.0,0.0,1.0,1,0
117,106.0,62.0,1.5,56.0,-110.0,213.5,47.0,-110.0,1.0,1.0,1.0,0,1
118,-124.0,38.0,-1.5,44.0,-110.0,213.5,53.0,-110.0,0.0,0.0,0.0,1,0

In [55]:
df = df[['Percent Bet ML','ML','Percent Bet Spread','Spread','Odds of Spread','Percent Bet O/U','O/U','Odds of O/U','away','home','ML WL','Spread WL','O/U WL']]
df

,Percent Bet ML,ML,Percent Bet Spread,Spread,Odds of Spread,Percent Bet O/U,O/U,Odds of O/U,away,home,ML WL,Spread WL,O/U WL
1,83.0,-240.0,66.0,-5.5,-110.0,56.0,208.0,-110.0,1,0,1.0,1.0,0.0
2,17.0,194.0,34.0,5.5,-110.0,44.0,208.0,-110.0,0,1,0.0,0.0,1.0
3,9.0,220.0,33.0,6.5,-110.0,75.0,237.5,-110.0,1,0,1.0,1.0,1.0
4,91.0,-270.0,67.0,-6.5,-110.0,25.0,237.5,-110.0,0,1,0.0,0.0,0.0
5,15.0,166.0,48.0,5.0,-110.0,48.0,215.5,-110.0,1,0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
114,14.0,132.0,27.0,3.0,-110.0,63.0,214.5,-110.0,0,1,1.0,1.0,1.0
115,21.0,420.0,39.0,9.5,-110.0,46.0,222.5,-110.0,1,0,0.0,1.0,0.0
116,79.0,-560.0,61.0,-9.5,-110.0,54.0,222.5,-110.0,0,1,1.0,0.0,1.0
117,62.0,106.0,56.0,1.5,-110.0,47.0,213.5,-110.0,1,0,1.0,1.0,1.0
118,38.0,-124.0,44.0,-1.5,-110.0,53.0,213.5,-110.0,0,1,0.0,0.0,0.0

# Import In Models and Scaler Objects

In [59]:
ML_model = tf.keras.models.load_model('Models/nn_model_ML.h5')
spread_model = tf.keras.models.load_model('Models/nn_model_spread.h5') 
OU_model = tf.keras.models.load_model('Models/nn_model_OU.h5')

ML_scaler = pickle.load(open('Models/scaler_ML.pkl','rb'))
spread_scaler = pickle.load(open('Models/scaler_spread.pkl','rb'))
OU_scaler = pickle.load(open('Models/scaler_OU.pkl','rb'))

In [ ]:
#ML_scaled = ML_scaler.transform(model_input)
#spread_scaled = spread_scaler.transform(model_input)
#OU_scaled = OU_scaler.transform(model_input)

In [62]:
num_rows = df.index.stop

# Moneyline

In [77]:
df_ML = df.copy()
df_ML = df_ML.drop(columns=['Spread WL','O/U WL'],axis=1)
ml_wl = df_ML['ML WL'].values

new_ml_wl = []
for val in ml_wl:
    int_val = int(val)
    new_ml_wl.append(int_val)

df_ML['ML WL'] = new_ml_wl
df_ML

,Percent Bet ML,ML,Percent Bet Spread,Spread,Odds of Spread,Percent Bet O/U,O/U,Odds of O/U,away,home,ML WL
1,83.0,-240.0,66.0,-5.5,-110.0,56.0,208.0,-110.0,1,0,1
2,17.0,194.0,34.0,5.5,-110.0,44.0,208.0,-110.0,0,1,0
3,9.0,220.0,33.0,6.5,-110.0,75.0,237.5,-110.0,1,0,1
4,91.0,-270.0,67.0,-6.5,-110.0,25.0,237.5,-110.0,0,1,0
5,15.0,166.0,48.0,5.0,-110.0,48.0,215.5,-110.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
114,14.0,132.0,27.0,3.0,-110.0,63.0,214.5,-110.0,0,1,1
115,21.0,420.0,39.0,9.5,-110.0,46.0,222.5,-110.0,1,0,0
116,79.0,-560.0,61.0,-9.5,-110.0,54.0,222.5,-110.0,0,1,1
117,62.0,106.0,56.0,1.5,-110.0,47.0,213.5,-110.0,1,0,1
118,38.0,-124.0,44.0,-1.5,-110.0,53.0,213.5,-110.0,0,1,0

In [78]:
winnings_ML = []
bet = 100

for i in np.arange(num_rows-1):
    row = np.array(df_ML.iloc[i,0:10].values).reshape(1,-1)
    ML_scaled = ML_scaler.transform(row)
    ML_prediction = ML_model.predict(ML_scaled)
    ML_output = round(ML_prediction[0][0])
    
    wl = df_ML.iloc[i,10]
    
    if ML_output == 1:
    
        if ML_output == wl:
            ml = df_ML.iloc[i,1]
            if (ml < 0):
                ml = abs(ml)
                win = (bet / ml)*100
                winnings_ML.append(win)
            else: 
                win = (ml / bet)*100
                winnings_ML.append(win)
                
        else: # ML_output != wl
            winnings_ML.append(-bet)

In [81]:
sum(winnings_ML)

356.1168978715512

# Spread

In [48]:
df_spread = df.copy()
df_spread = df_spread.drop(columns=['ML WL','O/U WL'],axis=1)
spread_wl = df_spread['Spread WL'].values

new_spread_wl = []
for val in spread_wl:
    int_val = int(val)
    new_spread_wl.append(int_val)

df_spread['Spread WL'] = new_spread_wl
df_spread

,Percent Bet ML,ML,Percent Bet Spread,Spread,Odds of Spread,Percent Bet O/U,O/U,Odds of O/U,away,home,Spread WL
1,83.0,-240.0,66.0,-5.5,-110.0,56.0,208.0,-110.0,1,0,1
2,17.0,194.0,34.0,5.5,-110.0,44.0,208.0,-110.0,0,1,0
3,9.0,220.0,33.0,6.5,-110.0,75.0,237.5,-110.0,1,0,1
4,91.0,-270.0,67.0,-6.5,-110.0,25.0,237.5,-110.0,0,1,0
5,15.0,166.0,48.0,5.0,-110.0,48.0,215.5,-110.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
114,14.0,132.0,27.0,3.0,-110.0,63.0,214.5,-110.0,0,1,1
115,21.0,420.0,39.0,9.5,-110.0,46.0,222.5,-110.0,1,0,1
116,79.0,-560.0,61.0,-9.5,-110.0,54.0,222.5,-110.0,0,1,0
117,62.0,106.0,56.0,1.5,-110.0,47.0,213.5,-110.0,1,0,1
118,38.0,-124.0,44.0,-1.5,-110.0,53.0,213.5,-110.0,0,1,0

In [83]:
winnings_spread = []
bet = 100

for i in np.arange(num_rows-1):
    row = np.array(df_spread.iloc[i,0:10].values).reshape(1,-1)
    spread_scaled = spread_scaler.transform(row)
    spread_prediction = spread_model.predict(spread_scaled)
    spread_output = round(spread_prediction[0][0])
    
    wl = df_spread.iloc[i,10]
    
    if spread_output == 1:
    
        if spread_output == wl:
            ml = df_spread.iloc[i,4]
            ml = abs(ml)
            win = (bet / ml)*100
            winnings_spread.append(win)
                
        else: # spread_output != wl
            winnings_spread.append(-bet)

In [84]:
sum(winnings_spread)

572.7272727272717

# Over / Under

In [49]:
df_OU = df.copy()
df_OU = df_OU.drop(columns=['Spread WL','ML WL'],axis=1)
OU_wl = df_OU['O/U WL'].values

new_OU_wl = []
for val in OU_wl:
    int_val = int(val)
    new_OU_wl.append(int_val)

df_OU['O/U WL'] = new_OU_wl
df_OU

,Percent Bet ML,ML,Percent Bet Spread,Spread,Odds of Spread,Percent Bet O/U,O/U,Odds of O/U,away,home,O/U WL
1,83.0,-240.0,66.0,-5.5,-110.0,56.0,208.0,-110.0,1,0,0
2,17.0,194.0,34.0,5.5,-110.0,44.0,208.0,-110.0,0,1,1
3,9.0,220.0,33.0,6.5,-110.0,75.0,237.5,-110.0,1,0,1
4,91.0,-270.0,67.0,-6.5,-110.0,25.0,237.5,-110.0,0,1,0
5,15.0,166.0,48.0,5.0,-110.0,48.0,215.5,-110.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...
114,14.0,132.0,27.0,3.0,-110.0,63.0,214.5,-110.0,0,1,1
115,21.0,420.0,39.0,9.5,-110.0,46.0,222.5,-110.0,1,0,0
116,79.0,-560.0,61.0,-9.5,-110.0,54.0,222.5,-110.0,0,1,1
117,62.0,106.0,56.0,1.5,-110.0,47.0,213.5,-110.0,1,0,1
118,38.0,-124.0,44.0,-1.5,-110.0,53.0,213.5,-110.0,0,1,0

In [85]:
winnings_OU = []
bet = 100

for i in np.arange(num_rows-1):
    row = np.array(df_OU.iloc[i,0:10].values).reshape(1,-1)
    OU_scaled = OU_scaler.transform(row)
    OU_prediction = OU_model.predict(OU_scaled)
    OU_output = round(OU_prediction[0][0])
    
    wl = df_OU.iloc[i,10]
    
    if OU_output == 1:
    
        if OU_output == wl:
            ml = df_spread.iloc[i,7]
            ml = abs(ml)
            win = (bet / ml)*100
            winnings_OU.append(win)
                
        else: # spread_output != wl
            winnings_OU.append(-bet)

In [87]:
sum(winnings_OU)

-172.72727272727295

In [ ]:
# TOTAL = $756